* {
    font-family: verdana;
}

body {
    padding: 12px;
}

.productTable, .productTable td, .productTable th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.newItemForm th {
    text-align: left;
}

.expenseBlock {
    display: inline-block;
    vertical-align: top;
    padding: 16px;
    border: 1px solid black;
}
