* {
    font-family: verdana;
}

body {
    padding: 12px;
}

.textAlignCenter {
    text-align: center;
}

input {
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 4px;
}

button {
    /* font-size: 12px;
    padding: 4px 6px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 5px; */
}

/* MAIN APP */

.mainApp {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 24px;
}

.wantsAndNeeds {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 24px;
}
@media only screen and (min-width: 960px) {
    .wantsAndNeeds {
        grid-template-columns: 1fr 1fr;
    }
}

.expenseBlock {
    border: 1px solid black;
    padding: 0 18px 18px 18px;
    box-sizing: border-box;
}

.productTable {
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

/* DATEPICKER */

.datepicker {
    text-align: center;
    margin: 0 0 12px 0;
    padding: 8px 0 18px 0;
    border-bottom: 1px solid black;
}

select {
    font-size: 16px;
}

/* MONTHLY INFO */

.monthlyInfo {
    border: 1px solid black;
    padding: 0 18px 18px 18px;
}

.limitRow {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.spentBar {
    background-color: deepskyblue;
    height: 40px;
    display: inline-block;
}

.availableBar {
    background-color: aliceblue;
    height: 40px;
    display: inline-block;
}

.progressBar {

}

/* ITEM */

.itemRow {
    display: grid;
    grid-template-columns: 31% 20% 17% 17% 17%;
    border-top: 1px solid black;
    padding: 12px;
}

.itemRow:first-child {

}
.itemRow:last-child {
    border-bottom: 1px solid black;
}

.itemRowItem {
    grid-column-end: span 1;
}

.currentEdit {
    border-top: none;
}

/* MONTHLY CHART */

.monthChartRow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    border: 1px solid black;
    padding: 18px 0 0 0;
}

/* NEW ITEM FORM */

.gridForm {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
}

.gridFormLabel {
    grid-column: 1/2;
}

.gridFormInput {
    grid-column: 2/4;
    font-size: 12px;
}

.gridFormSubmit {
    grid-row: 3/4;
    grid-column: 3/4;
    padding: 4px 0;
    width: 75%;
    margin-left: auto;
}
